@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:ital,wght@1,900&display=swap');

*{
  margin:0;
  padding: 0;

}


body{
  background: linear-gradient(to right,#ffffff,#bbf9f9, #bbf9f9,#ffffff);
}


.dark-mode {
  background: linear-gradient(to right,#91919169,#5c5c5c8e, #7070706e,#91919169);
  color: white;
}

.dark{
  display: flex;
  justify-content: center;
}

/* *********HOME************************* */
.home{
background:url("https://png.pngtree.com/back_origin_pic/04/48/50/84cd2a9fbc6cbd5522b2f048a56703a8.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
width: 100%;
}

.sign{
  width: 20vw;
  height: 6vw;
  position: absolute;
}

.myimage{
  display: none;
}
#navbar{
width: 7%;
height: 100%;
position: fixed;
top: 0;
box-shadow: 2px 2px 8px 1px #111;
backdrop-filter: blur(10px);
z-index: 2;
transition: o.5s;
}
nav ul li{
  list-style: none;
margin: 2vw 1.5vw;
padding-top: 30px;
}

nav ul li a i{
  color: #393939;
}

nav ul li a i:hover{
  color: #ff6200; 
}

#menubtn{
width: 3vw;
height: 3vw;
text-align: center;
position: fixed;
right: 30px;
top: 10px;
z-index: 3;
cursor: pointer;

} 
#menubtn img{
width: 30px;
height: 30px;
}


@media screen and (max-width: 800px) {
.home{
  background-image: none;
}
.sign{
  display: none;
}
.myimage{
  display: flex;
  justify-content: center;
  height: 2vh;
  width: 2vh;
}
.my-image{
  border-radius: 50%;
}
 #menubtn img{
  display:none;
 }
 #navbar{
  position: fixed;
  top:-1;
    left: 0;   
    right: 0;
    width: 100%; 
    height: 7%;
 }
 #navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
nav ul li{

  padding-top: 0;
}
#navbar li {
  margin: 0;
}

}
/* info */

.info{
  padding-top: 30vh;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
.info h1{
  color: rgb(51, 159, 112);
  font-size: 4vw;
}

.info p{
  font-size: 2vw;
  color:rgb(85, 85, 85);
  font-family: 'Dancing Script', cursive;
}

/* **Social** */

.social{
  width:25%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.social ul {
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social ul li {
  list-style: none;
}

.social ul li a {
  width: 5vw;
  height: 5vw;
  background-color: #fff;
  text-align: center;
  line-height: 5vw;
  font-size: 2vw;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.social ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.social ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.social ul li a:hover:before {
  top: 0;
}

.social ul li:nth-child(1) a:before{
  background: #3b5999;
}

.social ul li:nth-child(2) a:before{
  background:  linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.social ul li:nth-child(3) a:before {
  background: #0077b5;
}

.social ul li:nth-child(4) a:before {
  background: #333;
}
.social ul li:nth-child(5) a:before {
  background: #FBBC05;
}



/* Education */


#Education{
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  color: #111;
}

.education h1{
  font-size: 3vw;
  color:black;
  display: flex;
  justify-content: center;
}

.education{
  padding: 5vw 3vw 3vw 3vw;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.class{
  width: 65vw;
  display: flex;
  align-items: center;
  height: 15vw;
  padding: 10px;
  box-shadow: 1.5px 1.5px 15px rgba(0, 0, 0, 0.39);
  background-color: white;
}

.class img{
  height: 14vw;
  width:14vw;
}

.class .marks{
  width: calc(100% - 15vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 3.2vw;
  text-shadow: 0.5px 0.5px 0.5px black;
}

.marks .college{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 1.8vw;    
}

.marks .branch{
  font-family: Young serif; 
  font-weight: 300;
  font-size: 1.3vw;
}

.marks .score span{
  font-weight: 900;
  font-size: 1.3vw;
  color: rgb(255, 166, 0);
}

.marks .score{
  font-size: 1.3vw;
}

.one{
  transition: opacity 1s, transform 1s;
  transform: translateX(-100%);
}

.two{
  transition: opacity 1s, transform 1s;
  transform: translateX(+100%);
}

.three{
  transition: opacity 1s, transform 1s;
  transform: translateX(-100%);
}

.show{
  opacity: 1;
  transform: translateX(0);
}

/* Languages  */


.skills1{
padding-top: 100px;
color:rgb(7, 7, 7);
}


.skills{
display: flex;
justify-content: center;
padding-top: 20px;
font-size: 15px;
color:rgb(7, 7, 7);
}

.skills h1{
    font-size: 3vw;
    color:black;
}

.languages{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col{
text-align: center;
float: left;
padding: 30px;
padding-top: 60px;
}

/*********Projects******** */

#Projects{
  display: flex;
  justify-content: center;
  font-size: 1.5vw;
  color:black;
}

#projects{
  width : 100%;
  height: 100%;
  padding-top: 10vh;
  display : flex;
  align-items : center;
  justify-content : center;   
  box-sizing : border-box;  
}


.container {
 
  display : flex;
  justify-content : center;
  flex-wrap: wrap; 
  column-gap: 3vh; 
  row-gap: 10vh;
  padding: 30px;
  border-radius : 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card h3{
  padding-bottom: 10px;
  font-size: 30px;
  color: #111;
  font-family: 'Playfair Display', serif;
  transition : 0.3s ease-in-out;
}
.container .card {
  position: relative;
  max-width : 310px;
  height : 250px;  
  background-color : #fff;
  margin : 30px 10px;
  padding : 20px 15px;
  text-align: center;
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.5s ease-in-out;
  border-radius : 15px;
}
.container .card:hover {
  height : 320px;    
}

.container .card:hover h3{
  display: none;   
}

.container .card .image {
  position : relative;
  width : 280px;
  height : 260px;
  border-radius : 15px;
  top : -30%;
  left: 10px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.container .card .image img {
  max-width : 100%;
  border-radius : 15px;
}

.container .card .content {
  position : relative;
  top : -150px;
  padding : 50px 15px;
  color : #111;
  text-align : center;
  
  visibility : hidden;
  opacity : 0;
  /* transition : 0.3s ease-in-out; */
    
}
.content p{
  font-size: 3vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container .card:hover .content {
   margin-top : 10px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}

/**********Certificates***********/


.button{
  text-decoration: none;
  color: #111;
}

#Certificates{
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
}

.certificates{
  text-align: center;
}


.certificates h1{
  color: black;
  font-size: 3vw;
}

.certificaterow{
  position : relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  width : 100%; 
}
.certificatecol{
text-align: center;
display: flex;
justify-content: space-evenly;
column-gap: 30px;

}

.box{
  align-content: center;
  color: #111;
}
.box p{
  padding-top: 15px;
}
.box img{
  --s: 250px;   /* the size of the image */
  --b: 8px;     /* the border thickness*/
  --g: 14px;    /* the gap */
  --c: #087abd; /* the color */
  
  width: var(--s);
  outline: calc(var(--s)/2) solid rgba(150, 148, 148, 0.6);
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: .3s;
}

.box img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

/* contact */

.container_contact{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 3vw;
    font-size: 20px;
    color:rgb(0, 0, 0);
}

.header{
  color: #111;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 2vw;
}
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: whitesmoke;
  }
  
  
.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

  .column{
    display: flex;
    justify-content: center;
  }
  .column form{
    width: 50%;
    margin-top: 20px;
    color: rgb(0, 0, 0);
  }
  .row{
  position : relative;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  }

.column img{
  height: 400x;
  width: 450px;
}





